<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/multi-select.css}" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
    <!-- Multi Select -->
    <script type="text/javascript" th:src="@{/js/jquery.multi-select.js}"></script>
    
    <title>Document</title>
</head>

<body>
    <div class="page-head-title">MYE030-Project</div>
    <main class="text-center" id ="main">

        <div class="charts-container">
        </div>
    </main>
    <i class="fa-solid fa-circle-plus add-btn-icon" onclick="addChart()"></i>
    <div class="sidebar-tab" id="sidebar-tab">
        <div class="vertical-text text-center" id="sidebar-tab-text" onclick="toggleSidebar()"><span class="arrow vertical-text"></span></div>
    </div>
    <!--The acutal content of the sidebar-->
    <div class="sidebar" id="sidebar">
        <div class="tabs">
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Data Source</label>
                <div class="tab-content">
                    <div id="dataSource" class="data-source">
                        <div class="my-row">
                            
                            <div class="option">
                                <label for="chartType">Chart Type</label>
                                <select class="form-control" name="chartType" id="chartType">
                                    <option value="lines+markers">Timelines</option>
                                    <option value="bars">Bar Charts</option>
                                    <option value="markers">Scatter Plot</option>
                                </select>
                            </div>
                        </div>
                        <div class="time-series-selector">

                            <div class="d-flex flex-row align-items-center mb-2">
                                <h6>Select Countries</h6>
                            </div>
                            <select multiple="multiple" id="countriesSelect" name="countriesSelect[]">
                                <option value='elem_1'>elem 1</option>
                                <option value='elem_2'>elem 2</option>
                                <option value='elem_3'>elem 3</option>
                                <option value='elem_4'>elem 4</option>
                                <option value='elem_100'>elem 100</option>
                            </select>
                            <div class="d-flex flex-row align-items-center mb-2">
                                <h6>Select Fields</h6>
                            </div>
                            <select multiple="multiple" id="fieldsSelect" name="fieldsSelect[]">
                                <option value='elem_1'>elem 1</option>
                                <option value='elem_2'>elem 2</option>
                                <option value='elem_3'>elem 3</option>
                                <option value='elem_4'>elem 4</option>
                                <option value='elem_100'>elem 100</option>
                            </select>
                            <h6>Year Range Selector</h6>
                            <div class="my-row">
                                <input class="year-input" type="number" name="min-year" id="min-year">
                                <span>-</span>
                                <input class="year-input" type="number" name="max-year" id="max-year">
                            </div>
                            <div class="my-row">
                                <p>Aggregate Time</p>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="none" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="none">None</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="5" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="5">5 years</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="10" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="10">10 years</label>
                                </div>
                            </div>
                        </div>
                        <!-- Update chart btn -->
                        <div class="mt-3">
                            <button type="button" class="btn btn-sm btn-primary ml-4 h-100" title="Execute" id="update-charts" onclick="updateChart()">
                                <i class="fa-solid fa-rotate"></i> Update Chart
                            </button>
                        </div>
                    </div>
                    <p  class="no-chart-paragraph">
                        Create a new chart by clicking on the <i class="fa-solid fa-circle-plus" onclick="addChart()"></i> button and then select it by clicking on its header.                                       
                    </p>
                </div>
            </div>
            <div class="tab">
              <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
              <label for="tab-2" class="tab-label">Settings</label>
              <div class="tab-content">
                <p  class="no-chart-paragraph">
                    Create a new chart by clicking on the <i class="fa-solid fa-circle-plus" onclick="addChart()"></i> button and then select it by clicking on its header.                    
                </p>
                <div id="chartSettings" class="data-source">
                    <h3>Chart Settings</h3>
                    <p>
                        These settings apply to the selected chart
                    </p>
                    <div class="settings-options">
                        <div class="option">
                            <label for="chartTitle">Chart Title</label>
                            <input type="text" id="chartTitle" name="chartTitle" value="" placeholder="Chart title">
                        </div>
                        
                        <div class="option">
                            <label for="yTitle">Y-Axis Title</label>
                            <input type="text" id="yTitle" name="yTitle" value="" placeholder="Y-Axis title">
                        </div>
                        <div class="option">
                            <label for="xTitle">X-Axis Title</label>
                            <input type="text" id="xTitle" name="xTitle" value="" placeholder="X-Axis title">
                        </div>
                        <div class="settings-btn">
                            <button type="button" class="btn btn-sm btn-primary ml-4" title="Execute" id="update-charts" onclick="updateChart()">
                                <i class="fa-solid fa-rotate"></i> Update Chart
                            </button>
                        </div>
                    </div>
    
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-confirm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <h4 class="modal-title w-100">Delete chart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="delete-chart-p">Do you really want to delete the selected chart?</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button onclick="deleteChart()" id = "delete-selected-chart" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>

<script>
let sidebarOpen = false;
let chartsSequence = 0;
let chartsIds = [];
let charts = {};
let chartToDelete = null;
let selectedChart = null;

window.addEventListener('resize', function(){
    for(const chartID of chartsIds){
        setTimeout(function() { // wait for the transition to finish
            Plotly.relayout(chartID, {
                width: $('.chart-body').width(), // Set the chart's width to match the parent container width
                height: $('.chart-body').height() // Set the chart's height to match the parent container height
            });
        }, 600); // set a timeout of 550 milliseconds
    }
});

$('#countriesSelect').multiSelect();
$('#fieldsSelect').multiSelect();
class Chart {
    constructor(
        id,
        chartType = "lines+markers",
        countries = [],
        fields = [],
        showLegend = false,
        xRange = { min: null, max: null },
        aggTime = "None",
        chartTitle = "",
        xTitle = "",
        yTitle = "",

    ) {
        this._id = id;
        this._chartType = chartType;
        this._countries = countries;
        this._fields = fields;
        this._showLegend = showLegend;
        this._xRange = xRange;
        this._aggTime = aggTime;
        this._chartTitle = chartTitle;
        this._xTitle = xTitle;
        this._yTitle = yTitle;
    }
    // Getters
    get id() {
        return this._id;
    }
    get chartType() {
        return this._chartType;
    }
    get countries() {
        return this._countries;
    }
    get fields() {
        return this._fields;
    }
    get showLegend() {
        return this._showLegend;
    }
    get xRange() {
        return this._xRange;
    }
    get aggTime() {
        return this._aggTime;
    }
    get chartTitle() {
        return this._chartTitle;
    }
    get xTitle() {
        return this._xTitle;
    }
    get yTitle() {
        return this._yTitle;
    }
    // Setters
    set id(newId) {
        this._id = newId;
    }
    set chartType(newChartType) {
        this._chartType = newChartType;
    }
    set countries(newCountries) {
        this._countries = newCountries;
    }
    set fields(newFields) {
        this._fields = newFields;
    }
    set showLegend(newShowLegend) {
        this._showLegend = newShowLegend;
    }
    set xRange(newXRange) {
        this._xRange = newXRange;
    }
    set aggTime(newAggTime) {
        this._aggTime = newAggTime;
    }
    set chartTitle(newChartTitle) {
        this._chartTitle = newChartTitle;
    }
    set xTitle(newXTitle) {
        this._xTitle = newXTitle;
    }
    set yTitle(newYTitle) {
        this._yTitle = newYTitle;
    }
    // Methods

    // Draw method to display the chart
    draw() {
        //set Title
        $('#'+this._id+'-title').text(this._chartTitle);
        console.log("countries: ", this._countries);
        console.log("fields: ", this._fields);
        console.log("chartType: ", this._chartType);
        console.log("xRange: ", this._xRange);
        console.log("aggTime: ", this._aggTime);
        console.log("showLegend: ", this._showLegend);
        console.log("chartTitle: ", this._chartTitle);
        console.log("xTitle: ", this._xTitle);
        console.log("yTitle: ", this._yTitle);
        return
        // const chartData = this._chartType != 'ct-ring-num' ? this.getChartData() : this.getRingNumChartData();
        // if(chartData == null ){
        //     //clear chart
        //     Plotly.react(this._id);
        //     return;
        // }
        // const tracesData = chartData.traces;
        // const rightAxisData = chartData.rightAxis;
        // const tracesToDraw = [];


        // let dataYMin = null;
        // let dataYMax = null;
        // for (const key in tracesData) {
        //     if (dataYMax === null || dataYMax < Math.max(...tracesData[key].y)) {
        //         dataYMax = Math.max(...tracesData[key].y);
        //     }
        //     if (dataYMin === null || dataYMin > Math.min(...tracesData[key].y)) {
        //         dataYMin = Math.min(...tracesData[key].y);
        //     }
        //     tracesToDraw.push({
        //         x: tracesData[key].x,
        //         y: tracesData[key].y,
        //         name: this._traces[key].description,
        //         type: 'scatter',
        //         mode: 'lines',
        //         line: {
        //             width: 2
        //         },
        //     });
        // }
        // let yAxisTitle = Object.values(this._traces).reduce((accumulator, trace) => {
        //     if (trace.unit && !accumulator.includes(trace.unit)) {
        //         accumulator.push(trace.unit);
        //     }
        //         return accumulator;
        // },[]).join(", ");

        // let dataRightYMin = null;
        // let dataRightYMax = null;

        // for( const key in rightAxisData) {
        //     if(dataRightYMax === null || dataRightYMax < Math.max(...rightAxisData[key].y)) {
        //         dataRightYMax = Math.max(...rightAxisData[key].y);
        //     }
        //     if(dataRightYMin === null || dataRightYMin > Math.min(...rightAxisData[key].y)) {
        //         dataRightYMin = Math.min(...rightAxisData[key].y);
        //     }
        //     tracesToDraw.push({
        //         x: rightAxisData[key].x,
        //         y: rightAxisData[key].y,
        //         name: this._rightAxis[key].description,
        //         type: 'scatter',
        //         mode: 'lines',
        //         line: {
        //             width: 2
        //         },
        //         yaxis: 'y2'
        //     });
        // }
        // let y2AxisTitle = Object.values(this._rightAxis).reduce((accumulator, trace) => {
        //     if (trace.unit && !accumulator.includes(trace.unit)) {
        //         accumulator.push(trace.unit);
        //     }
        //         return accumulator;
        // },[]).join(", ");

        // let leftYRange = this.findRange(dataYMin, dataYMax, this._leftYMin, this._leftYMax);
        // let rightYRange = this.findRange(dataRightYMin, dataRightYMax, this._rightYMin, this._rightYMax);
        
        // const layout = {
        //     margin: {
        //         l: 100,
        //         r: 100,
        //         b: 70,
        //         t: 50,
        //         pad: 4
        //     },
        //     xaxis: {
        //         title: this._chartType == 'ct-ring-num' ? 'Ring Number' : this._chartType == 'ct-time' ? 'Time' : 'Chainage',
        //     },
        //     yaxis: {
        //         title: yAxisTitle,
        //         exponentformat: "none",
        //         autorange: leftYRange == "autorange" ? true : false,
        //         range: leftYRange == "autorange" ? null : [leftYRange[0], leftYRange[1]],
        //     },
        //     yaxis2: {
        //         title: y2AxisTitle,
        //         exponentformat: "none",
        //         overlaying: 'y',
        //         side: 'right',
        //         showgrid: false,
        //         autorange: rightYRange == "autorange" ? true : false,
        //         range: rightYRange == "autorange" ? null : [rightYRange[0], rightYRange[1]],
        //     }, 
        //     showlegend: this._showLegend,
        //     legend: {
        //         x: 1.1,
        //         y: 0.5,
        //         traceorder: 'normal',
        //         font: {
        //             family: 'sans-serif',
        //             size: 12,
        //             color: '#000'
        //         },
        //         bgcolor: '#E2E2E2',
        //         bordercolor: '#FFFFFF',
        //         borderwidth: 2
        //     } 
            
        // };
        // Plotly.react(this._id, tracesToDraw, layout);
        
        
    }

    toggleLegend(){
        Plotly.relayout(this._id, {
            showlegend: this._showLegend,

        });
    }
    getChartData(){
        const traces_table_fields = {};
        const righAxis_table_fields = {};
        for (const key in this._traces) {
            //chech if this.rightAxis has as key the same key as this._traces
            if (this.rightAxis[key]) {
                righAxis_table_fields[key] =  this._rightAxis[key].table_field ;
            }else{
                traces_table_fields[key] =  this._traces[key].table_field ;
            }
        }
        let chartData = {};
        $.ajax({
            url: "/tbm/get-traces-data",
            type: "GET",
            async: false,
            data: {
                tbm: this.tbm,
                chart_type: this._chartType,
                x_range : JSON.stringify(this._xRange),
                traces_table_fields: JSON.stringify(traces_table_fields),
                righAxis_table_fields: JSON.stringify(righAxis_table_fields),
            }
        }).done(function(response){
            chartData = response.data;

        }).fail(function(err){
            console.log("err: ",err);
            chartData = null;
        });
        return chartData;
    }
    
}

function addChart(){
    console.log("add chart");
    let ID = chartsSequence;
    chartsIds.push("chart"+ID);
    charts["chart"+ID] = new Chart("chart"+ID);
    chartsSequence++;
    $('.charts-container').append(`
        <div id="chart_container_${ID}" class="chart-container ${sidebarOpen? "chart-container-move-left":""}">
            <div class="chart-header" onclick = selectChart("${ID}")>
                <div class='move-chart ml-2'>
                    <i class="fas fa-arrow-up" onclick = moveChart("up","chart_container_${ID}")></i>
                    <i class="fas fa-arrow-down" onclick = moveChart("down","chart_container_${ID}")></i>
                </div>
                <div class="chart-title d-flex align-items-center justify-content-center">
                    <h5 class="m-0" id="chart${ID}-title"></h5>
                </div>
                <div class='d-flex align-items-center justify-content-center'>
                    <span class="toggle-legend-btn mb-1 mr-2" title="Show legend" onclick = toggleLegend("${ID}") >≡</span>
                    <i  onclick=setChartToDelete(event,"chart_container_${ID}") data-toggle="modal" data-target="#deleteModal" class="fas fa-trash  delete-chart-btn"></i>
                </div>
            </div>
            <div class="chart-body">
                <div id="chart${ID}" style="width: 100%; height: 100%;"></div>
            </div>
        </div>
    `);
    Plotly.newPlot('chart'+ID);
    

}
function toggleSidebar(){
    sidebarOpen = !sidebarOpen;
    window.dispatchEvent(new Event('resize'))
    $("#sidebar").toggleClass("move-to-left");
    $("#sidebar-tab").toggleClass("move-to-left");
    $("main").toggleClass("move-to-left-partly");
    $(".arrow").toggleClass("active");
    $(".chart-container").toggleClass("chart-container-move-left")
    $(".add-btn-icon").toggleClass("move-to-left-btn");
    $(".range-selector").toggleClass("chart-container-move-left");
    // Trigger a resize event to update the chart's layout properties
    window.dispatchEvent(new Event('resize'));
    
}
function updateChart(){
    // id,
    //     chartType = "lines+markers",
    //     countries = [],
    //     fields = [],
    //     showLegend = false,
    //     xRange = { min: null, max: null },
    //     aggTime = "",
    //     chartTitle = "",
    //     xTitle = "",
    //     yTitle = "",
    // $('#countriesSelect').multiSelect();
    // $('#fieldsSelect').multiSelect();
    charts[selectedChart].chartType = $("#chartType").val();
    console.log($("#countriesSelect").val());
    charts[selectedChart].countries = $("#countriesSelect").val();
    charts[selectedChart].fields = $("#fieldsSelect").val();
    charts[selectedChart].xRange = { min: $("#min-year").val(), max: $("#max-year").val() };
    let aggTime = $('input[name="customRadioInline1"]:checked').attr('id');
    console.log("aggTime: ",aggTime);
    charts[selectedChart].aggTime = aggTime != undefined ? aggTime : "None";
    charts[selectedChart].chartTitle = $("#chartTitle").val();
    charts[selectedChart].xTitle = $("#xTitle").val();
    charts[selectedChart].yTitle = $("#yTitle").val();
    charts[selectedChart].draw();
    console.log("chart updated!");
}
function deleteChart(){
    modified = true;
    $("#"+chartToDelete).remove();
    //remove from chartsIds
    chartsIds = chartsIds.filter(function(value, index, arr){
        return value != 'chart'+chrartToDelete.split("_")[2];
    });
    //remove from charts
    delete charts['chart'+chrartToDelete.split("_")[2]];
    if(chartsIds.length == 0){
        $(".no-chart-paragraph").show();
        $(".data-source").css("display", "none");
    }

}
function setChartToDelete(event,chartId){
    chartToDelete = chartId;
}
function selectChart(chartId){
    if ( event.target.closest(".delete-chart-btn") ) return;
    selectedChart = "chart"+chartId;


    //make the chart_container_+chartId child div with class= chart-header background color = #f5f5f5
    // $("#chart_container_"+chartId+" .chart-header").css("background-color", "green");
    $("#chart_container_"+chartId).css("border", "3px solid #90EE90");
    //and all other divs that starts with chart_container_ child div with class= chart-header background color = #fff
    // $(".chart-header").not("#chart_container_"+chartId+" .chart-header").css("background-color", "#444b53");
    $(".chart-container").not("#chart_container_"+chartId).css("border", "2px solid #444b53");
    if(!sidebarOpen){
        toggleSidebar();        
    }
    $(".no-chart-paragraph").hide();
    $(".data-source").css("display", "flex");
    
    //fetch chart settings
    $("#chartTitle").val(charts[selectedChart].chartTitle);
    console.log("charts[selectedChart].chartType: ",charts[selectedChart].chartType);
    $("#chartType").val(charts[selectedChart].chartType);
    $("#xTitle").val(charts[selectedChart].xTitle);
    $("#yTitle").val(charts[selectedChart].yTitle);

}

</script>

